@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.stumpContainerClass {
    width: 100%;
    height: 100%;
    background-color: #afaab9;
    border-radius: 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'Roboto Mono', monospace;
    color: #85808d;
}

.stumpFileNameClass {
    padding: .5rem;
    font-size: 1.5rem;
    width: calc(100% - 1rem);
    border-bottom: 1px solid #85808d;
}