{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>

    <section>
      
      <div class="stump"></div>

    </section>

    <script>
      const container = document.querySelector( 'stump__wrapper' )
      
      class Stump {
        constructor( options ) {
          this.containerSelector = options.containerSelector || 'stump'
          this.containerClass = options.containerClass || 'stump__container'
          this.titleBarClass = options.titleBarClass ||  'stump__title-bar'

          this.title = options.title || ''

          this.container = document.querySelector( `.${this.containerSelector}` )

          this.container.classList.add( this.containerClass )

          this.renderTitleBar()
        }
        
        createElement = (type, options) => {
          const el = document.createElement( type )
          el.classList.add( options.class )
          el.textContent = options.text

          return el
        }

        createElementSVG = (type, options) => {
          const el = document.createElementNS( 'http://www.w3.org/2000/svg', type )
          el.classList.add( options.class )

          return el
        }

        renderTitleBar = () => {
          const titleBar = this.createElement( 'div', { class: this.titleBarClass } )
          const titleBarTitle = this.createElement( 'span', { text: this.title } )
          
          titleBar.appendChild( titleBarTitle )
          titleBar.appendChild( this.renderCopyButton())

          this.container.appendChild(titleBar)
        }

        renderCopyButton = () => {
          const copyButton = this.createElement( 'button', { class: 'stump__title-bar__copy-button' } )
          const copyIcon = this.createElementSVG( 'svg', { class: 'stump__title-bar__copy-icon' } )
          copyIcon.setAttribute( 'viewBox', '0 0 16 16' )

          const copyIconPath1 = this.createElementSVG( 'path', { class: 'path1' } )
          const copyIconPath2 = this.createElementSVG( 'path', { class: 'path2' } )

          copyIcon.appendChild( copyIconPath1 )
          copyIcon.appendChild( copyIconPath2 )

          copyButton.appendChild( copyIcon )

          return copyButton
        }
      }

      const a = new Stump({
        title: 'filename.js'
      })
    </script>

  </body>
</html>